.panel-input {
    height: 30px;
    /*width: 200px;*/
    display: flex;
    justify-content: center;
    flex-direction: row;
}

input {
    width: 188px;
    padding-left: 10px;
    border-width: 1px;
    border-radius: 5px 0px 0px 5px;
}

.btn-primary {
    /*
    margin-left: -50px;
    height: 30px;
    width: 50px;
    background: lightskyblue;
    color: white;
    border: 0;
    border-radius: 0px 3px 3px 0px;
    -webkit-appearance: none;
    */
    margin-right: 0px;
    height: 30px;
    width: 50px;
    background: lightskyblue;
    color: white;
    border: 0;
    border-radius: 0px 3px 3px 0px;
    -webkit-appearance: none;
}

input[type="number"] {
    /*height: 30px;*/
    
    padding: 0px 0px 0px 10px;
    border-width: 1px;
    border-radius: 5px 0px 0px 5px;
}


.panel {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-radius: 10px;
    border: 1px solid;
    border-color: gray; */
    
    align-items: center;
    padding: 20px 0px 20px 0px;
    
    
}


.panel-card {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid;
    border-color: gray;
    display: block;
    margin: 0px 10px;
    padding: 16px 0px 16px 0px;
    text-align: center;
    
    
}

.card-block {
    height: 25px;
    /*width: 100%;*/
    margin: 5px 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

.card-block-Label {
    
    /* display: flex; */
    
    margin: 0px 5px 0px 30px;
    width: 80px;
    position: left;
    display: block;
}

.card-uNameWrapper {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    margin: 0px 30px 5px 40px;
    /* padding: 0px 5px; */
}

.card-uAgeGenderWrapper {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    margin: 0px 30px 5px 40px;
    /* padding: 0px 5px; */
}

.card-uItem {
    margin: 0px 0px;
    color: gray;
    text-align: right;
    /* display: block; */
    overflow: hidden;
}
.card-uItem-Last {
    margin-left: 30px;
}

.card-uItem-Center {
    margin: 0px 0px;
    display: flex;
    color: gray;
    text-align: center;
    justify-content: center;
}

.card-ItemWrapper {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 30px 5px 40px;
}

.card-pLabel {
    width: 60px;
    /* display: flex; */
    
    margin: 0px 0px 5px 40px;
}

.card-pName {
    /*width: 100%;*/
    
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center; */
    text-align: center;
}
.card-pGen {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-pAge {
/*     
    display: flex;
    flex-direction: row;
    justify-content: space-around; */
}
.card-pCountry {
    
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}